<mat-sidenav-container class="home-sidenav-container">
  <mat-toolbar color='primary'>
    <span>
      <button mat-icon-button (click)="homeMenuSideNav.toggle()">
        <mat-icon matTooltip="Menu">menu</mat-icon>
      </button>
      <label>{{ homeTitle }}</label>
    </span>
  </mat-toolbar>

  <mat-sidenav #homeMenuSideNav mode="over" opened="false">
    <mat-toolbar color='primary'></mat-toolbar>
    <mat-list dense>
      <mat-list-item>
        <button mat-icon-button (click)="homeMenuSideNav.toggle()">
          <label>Sights</label>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

</mat-sidenav-container>
